%h2
  car_stuff.haml: Things involving cars
  %p
    The <em>Camry</em> only has a couple of things.
  %p
    The <em>Avalon</em> has several
    %ul
      %li Door handle
      %li Retape beige console
      %li ALTERNATOR!
      %li Hood paint
